<article class="post hentry" itemscope itemprop="blogPost" itemtype="http://schema.org/BlogPosting">

								<header class="entry-header">

									<h2 class="entry-title" itemprop="headline">
                    <%= @article.title %>
                   </h2>

									<div class="entry-meta">

                    <span class="post-date">
                      <i class="fa fa-clock-o fa-fw"></i> <span class="updated"><%= @article.updated_at.to_formatted_s(:long) %></span>
                    </span> <!-- .post-date -->



                    <span class="post-tags">
											<i class="fa fa-tags fa-fw"></i>
                      <% @article.tags.each do |tag| %>
                       <%= link_to tag.name, tag_path(tag), rel:"tag", class:"single-tag" %>
                      <% end %>
										</span> <!-- .post-tags -->

									</div> <!-- .entry-meta -->

								</header> <!-- .entry-header -->

								<div class="entry-image">

                  <%= image_tag @article.image.url, alt:"Blog Post", itemprop: "image" %>
								</div> <!-- .entry-image -->

								<div class="entry-content" itemprop="articleBody">
                  <%= simple_format(@article.body) %>



								</div> <!-- .entry-content -->

							</article> <!-- .post -->






<h3>Comments ( <%= @article.comments.size %> )</h3>
<%= render partial:'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>
<%= link_to "Back to Articles List", articles_path, class:"new_article" %>
<% if logged_in?%>
<%= link_to "Delete", article_path(@article), method: :delete, data:{Confirm:"Are you Sure you want to delete the Article"} %>
<%= link_to "Edit", edit_article_path(@article) %>
<% end %>
